.card-back {
    position: relative;
    background-image: url('../assets/bg-card-back.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 400px;
    height: 220px;
    display: flex;
    flex-direction: column;
    padding: 24px;
    color: hsl(0, 0%, 100%);
    border-radius: 16px;
    left: 50%;
    font-size: 0.8rem;
}

.card-back-cvc {
    position: absolute;
    bottom: 90px;
    right: 50px;
}

