.data-form {
    width: clamp(20rem, 18rem + 12vw, 60rem);
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: clamp(1.5rem, 0.75rem + 2vw, 2rem);
}

.data-form span {
    display: flex;
    flex-direction: column;
}

.text {
    color: hsl(278, 68%, 11%);
    margin-bottom: 8px;
    font-size: clamp(0.7rem, 0.4rem + 0.3vw, 1.2rem);
    letter-spacing: 2px;
}

.message {
    color: hsl(0, 100%, 66%);
    font-size: clamp(0.6rem, 0.4rem + 0.3vw, 1rem);
    letter-spacing: 1px;
    margin: 0.2rem 0 0 0;
    width: 50%;
}

.data-input {
    border: 1px solid hsl(270, 3%, 87%);
    width: 100%;
    font-size: clamp(1rem, 0.8rem + 0.3vw, 1.4rem);
    border-radius: 8px;
    padding: clamp(0.625rem, 0.4rem + 0.4vw, 1rem);
    outline: none;
    background: none;
}

.data-input:focus {
    outline: none;
    border: 1px solid transparent;
    /* border-image: linear-gradient(to right, hsl(249, 99%, 64%), hsl(278, 93%, 30%)) 1; */
    background: linear-gradient(white, white) padding-box,
              linear-gradient(to right, hsl(249, 99%, 64%), hsl(278, 93%, 30%)) border-box;
}

.data-input::placeholder {
    color: hsl(270, 3%, 87%);
    font-weight: 600;
    font-size: clamp(0.8rem, 0.4rem + 0.5vw, 2rem);
}

.data-input.invalid {
    background: none;
    border-color: hsl(0, 100%, 66%);
}

.data-date-cvc {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: clamp(1.2rem, 0.8rem + 1vw, 1.6rem);
}

.data-cvc-input {
    display: flex;
    flex-direction: column;
}

.data-date-inputs {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.data-date-inputs > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.3rem;
}