.data-complete { 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(1.5rem, 1rem + 1vw, 3rem);
}

.data-complete img {
    width: clamp(4rem, 2rem + 4vw, 7rem);
}

.data-complete h2 {
    font-size: clamp(1.5rem, 0.75rem + 1vw, 3rem);
    margin: 0;
}

.data-complete p {
    font-size: clamp(1rem, 0.5rem + 0.5vw, 1.6rem);
    margin: 0;
}