/* hsl(270, 3%, 87%) */

.data-form {
    width: 350px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.text {
    color: hsl(278, 68%, 11%);
    margin-bottom: 8px;
    font-size: 0.7rem;
    letter-spacing: 2px;
}

.message {
    color: hsl(0, 100%, 66%);
    font-size: 0.6rem;
    letter-spacing: 1px;
    margin: 2px 0 0 0;
    width: 50%;
}

.data-input {
    border: 1px solid hsl(270, 3%, 87%);
    width: 100%;
    font-size: 1rem;
    border-radius: 8px;
    padding: 10px;
    outline: none;
    background: none;
}

.data-input:focus {
    outline: none;
    border: 1px solid transparent;
    /* border-image: linear-gradient(to right, hsl(249, 99%, 64%), hsl(278, 93%, 30%)) 1; */
    background: linear-gradient(white, white) padding-box,
              linear-gradient(to right, hsl(249, 99%, 64%), hsl(278, 93%, 30%)) border-box;
}

.data-input::placeholder {
    color: hsl(270, 3%, 87%);
    font-weight: 600;
}

.data-input.invalid {
    background: none;
    border-color: hsl(0, 100%, 66%);
}

.data-date-cvc {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.data-date-inputs {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.data-date-inputs > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
}
