html {
  box-sizing: border-box;
  font-size: 100%;
}

*, 
*::before, 
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  width: 100%;
  min-height: 100vh;
  font-size: 18px;
  font-family: 'Space Grotesk', sans-serif;
}

#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  text-align: center;
}

p {
  margin-top: 0;
}

